/* #asi{
} */

#indexnav{
  background-color: #cedee4;
}
/* p:hover {
  text-decoration: underline; 
  font-weight: 600;
  transform: scale(1.02); 
}  */
p {
  
  position: relative;
 
  font-size: 18px;
 /* font-weight: 200; */
  
  /* font-weight: 400; */
}
row2 {
  background-color: gray;
}


.nameandbackground {
  /* background-color: rgba(0, 0, 255, 0.1); */
  padding: 12px;
  font-weight: 900;
}

.mero {  
  position: relative; 
  margin-top: 50px;
  /* background :rgba(0, 151, 19, 0.1); */
  background-color: rgba(194, 200, 205, 0.9);
  /* width: 750px; */
  margin-bottom: 0;
  /* height: 980px; */
  /* border: 4px solid rgb(1, 2, 5, 0.7); */
  padding: 10px;
  /* box-shadow: 3px 3px 2px 2px #51565b; */

  align-items: center;
  justify-content: center;

}


img {
  float: left;
  height: 12em;
  margin: 10px;
  /* width: 350px; */
  margin-bottom: 0px;
  margin-right: 13px;
  opacity: 1;
  border-radius: 15%;
  border: 5px #2e313a;
  padding: 5px;

}
h1 {
  font-size: 50px;
  margin: 20px;
  text-align: center;
}
h6 {
  font-size: 33px;
  margin: 20px;
}

h5 {
  font-size: 35px;
}

.fa-facebook {
  
  /* background: #98aedf; */
  color: white;
  border-radius: 10px;
}

/* aside:hover {
  transform: scale(1.11);
} */
aside {
  opacity: 0.9;
  background-image: url("../css/images/back.png");
  box-shadow: 5px 6px 5px 8px #2e313a;
  background-color:rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 100px;
  height: 300px;
  width: 100%;
  float: none;
  /* border: solid 4px  rgb(0, 0, 0); */
  background-size: 300px 80%;
}

#face22 {
  opacity: 1;
  background: #007bb5;
  transform: 1.07 !important;
  border: 3px solid rgb(19, 26, 39);
  margin-top: 20px;
  text-align: right;
  font-size: 2.8em;
}
  
#face2 {
 
  transform: 1.07 !important;
  border: 3px solid rgb(19, 26, 39);
  margin-top: 20px;
  text-align: right;
  font-size: 2.8em;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 10px;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-android {
  background: #a4c639;
  color: white;
}

#face22:hover{
  background: transparent !important;
}
#face2:hover{
  background: transparent !important;
}
.fa-linkedin:hover{
  background: transparent !important;
}
.fa-snapchat-ghost:hover{
  background: transparent !important;
}

#cot {
  /* border: 8px solid rgb(37, 88, 106); */
  margin-top: 30px;
  text-align: center;
  /* background-color: rgba(0, 0, 255, 0.1); */
}

/* #cot:hover {
  transform: scale(1.05);
  background-color: rgba(61, 61, 95, 0.1);
} */

#bottom {
  margin-bottom: -1%;
  transform: 1.07 !important;
  height: 100px;
  text-align: center;
  font-family: "Cinzel", serif;

 
}
.navbar bg-light {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transform: 2.07 !important;
}

#call:hover {
  transform: 3.07 !important;
  z-index: 5;
  font-family: "Cinzel", serif;
  font-weight: bold;
} 

#bro {
 font-size: 1.8rem ;
 /* font-weight: ab; */
}
/* 
h6:hover {
  transform: scale(1.02);
  opacity: 0.8;
} */

#du {
  font-family: "Cinzel", serif;
  text-align: center;
}

/* header:hover {
  transform: scale(1.02);
} */

img:hover {
  /* display: block; */
  /* z-index: 100; */
   /* opacity: 1 !important; */
  transform: scale(1.1);
 
}
#call {
  margin-top: 5%;
  transform: 1.07 !important;
  /* font-weight: bold; */
}
/* .navbar-toggler:hover{
  background-color: rgb(91, 91, 153);
} */


#tope:hover{
  background-color: #e3f2fd;
}
#tope{
  background-color: #bbd8ec;
}
body{
  width: 100%;
    height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  image-rendering: -webkit-optimize-contrast;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../css/images/backk.jpg");
  image-resolution: from-image 300dpi;
  background-position: center center;
  display: block;

}

#demi{
  margin-top: 2em;
}
