.row2 {
  background-color: gray;
}
body {
  /* background-color: maroon; */

  background-color: gray;
}

.nameandbackground {
  background-color: goldenrod;
  padding: 12px;
  font-weight: 900;
}

.row2 {
  background-color: gray;
}
